@import "./partials/variables";
@import "./partials/fonts.scss";

.demo-ilve {
  @import "./partials/reset.scss";
  @import "./partials/global";

  @import "./partials/container-size.scss";
  @import "./partials/click-extender.scss";

  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  font-feature-settings: 'lnum';
  font-weight: 400;
  color: $default-color;
  box-sizing: border-box;
  pointer-events: none;

  @import "./partials/demo-pop-up.scss";
  @import "./partials/demo-notice.scss";
  
  .demo-pop-up {
    z-index: 99999;
  }
}

@media (max-width: 1199px) {
  .demo-ilve {
    position: fixed;
    z-index: 99999;
    opacity: 0;
    transition: opacity .15s;
    
    &.page-loaded {
      opacity: 1;
    }
  }
}