@mixin containerSize($offset) {
  .container-size {
    margin-left: $offset;
    margin-right: $offset;
    width: auto;
  }
  .bottom-absolute-like-container-size {
    bottom: $offset;
  }
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@include containerSize(70px);

@media (max-width: 1024px) {
  @include containerSize(6.8vw);
}

@media (max-width: 330px) {
  @include containerSize(22px);
}