.demo-pop-up {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: center bottom;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;

  &__wrap {
    display: inline-block;
    pointer-events: all;
  }

  &.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transform: translateY(10%) scale(.8);
    transition: opacity .4s, transform .6s;

    .demo-pop-up {
      &__wrap {
        pointer-events: none;
      }
    }
  }
}