.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity .2s;

  &__close {
    cursor: pointer;
    transform-origin: center;
    transform: scale(1);
    transition: transform .2s;
    
    path {
      transition: fill .2s;
    }

    &:hover, &:focus {
      transform: scale(1.1);

      path {
        fill: $accent-color;
      }
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}