.title-style {
  line-height: 1.135;
  font-weight: 900;
  color: $header-color;
}
.page-title {
  @extend .title-style;
  font-size: 2.44rem;
  text-transform: uppercase;

  &__line {
    position: relative;

    &_accent {
      color: $accent-color;
    }
  }
  &__arrow-block {
    position: absolute;
    display: inline-flex;
    height: 100%;
    align-items: center;
    pointer-events: none;
    user-select: none;

    &_right {
      transform: translateX(22px);
    }
    &_left {
      left: -32px;
      transform: translateX(-22px);
    }
    &_right-to-left {
      transform: translateX(22px) rotate(180deg);
    }
  }

  &_separated-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_free-transform {
    text-transform: none;
  }
  &_mini {
    font-size: 2rem;
  }
  &_link {
    text-decoration: none;
    outline: none !important;
    transition: color .2s;
    
    &:focus {
      color: $accent-color;
    }
  }
}
.subtitle {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: .02em;

  &[href] {
    transition: color .2s;

    &:hover, &:focus {
      color: $accent-color;
    }
  }
  
  &__inner-link {
    text-decoration: none;
    outline: none !important;
    color: inherit;
    transition: color .2s;

    &_accent {
      color: $accent-color;
    }
    
    &:hover, &:focus {
      color: $accent-color;
    }
  }
}

.page-title-block {
  display: inline-block;

  &__subtitle {
    margin-bottom: 1.38em;
  }
  &__title {
    margin-bottom: 1.18em;
  }
}

@media (min-width: 686px) {
  .page-title {
    &_variant-0 & {
      &__arrow-block_mobile {
        display: none;
      }
    }
  }
}

@media (max-width: 685px) {
  .page-title {
    &_variant-0 & {
      &__arrow-block_desktop {
        display: none;
      }
    }
  }
}

@media (max-width: 570px) {
  .lang-ru {
    .page-title {
      &_variant-1 {
        font-size: 6.8vw;
      }
    }
  }
}

@media (max-width: 490px) {
  .page-title {
    font-size: 7.9vw;

    &__arrow-block {
      &_left {
        left: -5.8vw;
        transform: translateX(-4vw);
      }
      &_right-to-left {
        transform: translateX(4vw) rotate(180deg);
      }
    }
    &__arrow {
      width: 5.8vw;
      height: auto;
    }

    &_mini {
      font-size: 6.5vw;
    }
  }
}

@media (max-width: 430px) {
  .page-title {
    &_mini {
      font-size: 28px;
    }
  }
}

@media (max-width: 400px) {
  .page-title-block {
    &__title {
      margin-bottom: 2.06rem;
    }
  }
}

@media (max-width: 390px) {
  .page-title {
    &__arrow-block {
      &_left {
        left: -17px;
        transform: translateX(-11px);
      }
      &_right-to-left {
        transform: translateX(11px) rotate(180deg);
      }
    }
    &__arrow {
      width: 17px;
      height: auto;
    }
  }
}

@media (max-width: 360px) {
  .page-title {
    &_inner-page {
      font-size: 28px;
    }
    &_info-page {
      font-size: 26px;
    }
  }
}

@media (max-width: 350px) {
  .lang-en {
    .page-title {
      &_variant-1 {
        font-size: 27px;
      }
    }
  }
}

@media (max-width: 330px) {
  .page-title {
    font-size: 1.63rem;

    &_info-page {
      font-size: 1.6rem;
    }
  }
}